<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- bean definitions here -->

    <bean id="fortuneService" class="com.mightycoder.di.literal.HappyFortune"/>
    <bean id="myCoach" class="com.mightycoder.di.literal.BaseballCoach">
        <property name="fortuneService" ref="fortuneService"/>
        <property name="email" value="pawan.maurya@bblab.biz"/>
        <property name="team" value="Delhi"/>
    </bean>

</beans>